nav {

    background: #BE3144;
    height: 65px;
    border-bottom: 2px solid  black;
    position: fixed;
    width: 100%;
    

    ul {
        list-style: none;
        display: flex;
        justify-content: flex-end;
        margin: 0;
        li {
            display: flex;
            align-items: center;
            &:nth-child(3){
                margin-right: 1rem;
            }
            a {
                text-decoration: none;
                color:white;
                font-size: 1.5rem;
                padding: 18px;

                &:hover {
                    background: rgb(69 86 125);
                }
            }

           
        }
    }
   
}