<main>
    <h2>
        These are some of my projects
    </h2>
    <hr>
    <section>

       <a href="https://codepen.io/freeCodeCamp/full/zNqgVx">
            <article>
                <img src="https://cdn.freecodecamp.org/testable-projects-fcc/images/tribute.jpg" alt="tribute">
                <p> Tribute Page</p>
            </article>
       </a>
       <a href="https://codepen.io/freeCodeCamp/full/qRZeGZ">
            <article>
                <img src="https://cdn.freecodecamp.org/testable-projects-fcc/images/random-quote-machine.png" alt="Random-Machine">
                <p>Random Quote Machine</p>
            </article>
        </a>
        <a href="https://codepen.io/freeCodeCamp/full/wgGVVX">
            <article>
                <img src="https://cdn.freecodecamp.org/testable-projects-fcc/images/calc.png" alt="Calculator">
                <p>Javascript Calculator</p>
            </article>
       </a>
       <a href="https://codepen.io/freeCodeCamp/full/mVEJag">
            <article>
                <img src="https://cdn.freecodecamp.org/testable-projects-fcc/images/map.jpg" alt="Map">
                <p>Map Data Across the Globe</p>
            </article>
        </a>
        <a href="https://codepen.io/freeCodeCamp/full/wGqEga">
            <article>
                <img src="https://cdn.freecodecamp.org/testable-projects-fcc/images/wiki.png" alt="wikipedia">
                <p> Wikipedia Viewer</p>
            </article>
        </a>
        <a href="https://codepen.io/freeCodeCamp/full/KzXQgy">
            <article>
                <img src="https://cdn.freecodecamp.org/testable-projects-fcc/images/tic-tac-toe.png" alt="Game">
                <p> Tic Tac Toe Game</p>
            </article>
        </a>
    </section>
    <div class="button">
        <button>Show all 
            <div><svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor"> <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 9l3 3m0 0l-3 3m3-3H8m13 0a9 9 0 11-18 0 9 9 0 0118 0z" /> </svg>
            </div>
        </button>
    </div>
    
</main>



